extends layout.jade

block content
	div.row
		div.six.columns
			ID:   event.id
	div.row
		div.six.columns
			Type:   event.type
	div.row
		div.six.columns
			Date of Creation:   event.created_at
	div.row
		div.six.columns
			Repo Involved:   event.repo
	div.row
		div.six.columns
			Public?:   event.public
			


